.App {
  /* text-align: center; */
  /* text-align: content; */
  background-repeat:no-repeat;
  /* background-image: linear-gradient(to right, #1F2833 40%, #66FCF1 50%, #1F2833 80%); */
  background: rgb(31,40,51);
  background: radial-gradient(circle, rgba(31,40,51,1) 28%, rgba(38,59,68,1) 72%);
  height: 100%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSds2Hx6y8hSYL3malAiwnelCEFnDcN4sgVzg&usqp=CAU");
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login {
  text-align: center;
  color: white;
}

.alarm_icon{
  transform: scale(1.6);
  margin-bottom: -40px;
  margin-right: 40px;
}

.signup {
  text-align: center;
  color: white;
}

.card {
  min-width: 4rem;
  max-width: 50rem;
  min-height: 4rem;
  max-height: 80rem;
}

.event_card {
  justify-content: center;
  min-width: 4rem;
  max-width: 50rem;
  min-height: 4rem;
  max-height: 80rem;
}

.event{
  text-align: center;
  color: white;
  align-content: center;
}

.create_event {
  text-align: center;
  color: white;
}

/* THEME COLORS 
#0B0C10 - black 
#1F2833 - dark gray 
#C5C6C7 - gray 
#66FCF1 = neon green  
#45A29E - sea green */
.navbar{
  background-color: #0B0C10;
  /* background-image: linear-gradient(to right, #1F2833 40%, #66FCF1 50%, #1F2833 80%); */
  height: 50px;
  width: 100%;
  text-align: center;
  font-size: 22px;
  padding-top: 20px
}
.navbar_planner{
  text-decoration: none;
  margin-left: 5%;
  color: #66FCF1;
  border-color: white;
  border-radius: 18px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
}
.navbar_event{
  text-decoration: none;
  margin-left: -30%;
  color: #66FCF1;
  border-color: white;
  border-radius: 18px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
}
.navbar_profile{
  text-decoration: none;
  margin-left: -30%;
  color: #66FCF1;
  border-color: white;
  border-radius: 18px;
  border-style: solid;
  border-width: 3px;
  padding: 10px;
}
.navbar_search{
  margin-left: -40%;
  border-radius: 10px;
}
.welcome{
  color: white;
  text-align: content;
  font-size: 25px;
  font-weight: 600;
  height: 35px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 70px;
  align-content: center;
  text-align: center;
  display: inline-block;
  position: relative; 
}
.calendar{
  height: 40%;
  width: 60%;
  margin-left: 15%;
  background-color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}
.calendar_view{
  padding-bottom: 50px;
}